# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.env

#audio files
*.wav

# Streamlit
uploads/
*.srt

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Test/coverage
.coverage
htmlcov/
.tox/
.cache/
.pytest_cache/